# File requirements untuk bpjs-healthkathon-prototype

# Frameworks
streamlit
fastapi
uvicorn

# Machine Learning & Data
torch
transformers
numpy
soundfile
sentence-transformers

# Utilitas
requests
python-dotenv